header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 20px 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		a {
			font: bold 24px/1 'arial';
			color: #333;
		}
	}

	#gnb {
		display: flex;
		gap: 50px;
		li {
			a {
				font: 15px/1 'Gill Sans';
				color: #777;
				text-transform: uppercase;

				&.on {
					color: #000;
					font-weight: 600;
				}
			}
		}
	}
	.menuOpen {
		display: none;
		background-color: transparent;
		border: none;
		cursor: pointer;

		.fa-bars {
			color: #333;
			font-size: 20px;
		}
	}
}

header.main {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 2;

	h1 {
		a {
			color: #fff;
		}
	}

	#gnb {
		li {
			a {
				color: #fff;
			}
		}
	}

	.menuOpen {
		.fa-bars {
			color: white;
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #ddd;
		padding: 20px 10vw;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			a {
				font: bold 24px/1 'arial';
				color: #333;
			}
		}

		#gnb {
			display: none;
		}

		.menuOpen {
			display: inline-block;
			.fa-bars {
				color: #333;
				font-size: 20px;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
}
