* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	overflow-x: hidden;
	background: #efefef;
}
ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

fieldset {
	border: none;
}

table {
	border-collapse: collapse;
}

.hidden {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
}
